<?php
    if (!isset($data) || empty($data)) {
        header("Location: index.php?section=event&action=default");
        exit();
    }
?>

<div class="container mt-5">
    <div class="card shadow-lg">
        <img src="https://via.placeholder.com/800x400" style="min-height: 120px; width: 100%;" class="card-img-top"
            alt="Event Image">
        <div class="card-body">
            <h2 class="card-title text-primary">
                <?php echo htmlspecialchars($data['name']); ?>
            </h2>
            <p class="card-text text-muted"><strong>data ID:</strong>
                <?php echo $data['id']; ?>
            </p>
            <p class="card-text"><strong>Description:</strong>
                <?php echo htmlspecialchars($data['description']); ?>
            </p>
            <p class="card-text"><strong>Location:</strong>
                <?php echo htmlspecialchars($data['location']); ?>
            </p>
            <p class="card-text"><strong>Max Capacity:</strong>
                <?php echo $data['max_capacity']; ?> attendees
            </p>
            <p class="card-text"><strong>Already Joined:</strong>
                <?php echo $data['registered_count']; ?> attendees
            </p>

            <p class="card-text"><strong>Eventh Date:</strong>
                <?php echo $data['event_date']; ?>
            </p>
            <p class="card-text text-secondary"><strong>Created At:</strong>
                <?php echo $data['created_at']; ?>
            </p>

            <?php if ($data['registered_count'] < $data['max_capacity']) : ?>
            <?php if (!isset($_GET['from'])) : ?>
            <a class="btn btn-primary"
                href="index.php?section=event&action=eventRegistration&eventId=<?php echo $data['id']; ?>">Join
                Event</a>
            <?php else : ?>
            <a class="btn btn-secondary" href="index.php?section=event&action=viewAllRegisteredEvent">Back</a>
            <?php endif; ?>
            <?php else : ?>
            <p class="text-danger"><strong>No Space Available</strong></p>
            <?php endif; ?>
        </div>
    </div>
</div>