<div class="container mt-1">
    <h2 class="m-3">Latest Events</h2>
    <div class="row mt-1">
        <?php if (!empty($data)) : ?>
            <?php foreach ($data as $event) : ?>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <?php echo htmlspecialchars($event['name']); ?>
                            </h3>
                        </div>
                        <div class="card-body">
                            <p>
                                <?php echo htmlspecialchars($event['description']); ?>
                            </p>
                            <p>Capacity: <?php echo htmlspecialchars($event['max_capacity']); ?></p>
                            <p>Created At: <?php echo htmlspecialchars($event['created_at']); ?></p>
                            <a href="index.php?section=event&action=viewEvent&eventId=<?php echo $event['id']; ?>" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            <?php endforeach; ?>
        <?php else : ?>
            <p>No events found.</p>
        <?php endif; ?>
    </div>
</div>